{% extends 'employertemplates/employerbase.html' %}
{% load static %}

{% block content %}

<h3>Job Title:{{jobobject.title}}</h3><br>
<h3>Job Catagory:{{jobobject.catagory.title}}</h3><br>
<h3>Job Deadline:{{jobobject.deadline}}</h3><br>

<h2>Job Applicants for this Job</h2><hr>
<table class="table">

	<thead>
		<tr>
			<th>S.N</th>
			<th>Applicants</th>
			<th>Applied_On</th>
			<th>Download CV</th>
		</tr>
	</thead>
	<body>
		{% for application in jobobject.jobapplication_set.all %}  <!-- reverse relation between Job and Job application -->
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{application.jobseeker}}</td>
				<td>{{application.created_at}}</td>
				<td><a href="{{application.jobseeker.cv.url}}" download>Download CV</a>
					<a href="{{application.cover_letter.url}}" dowanload> Download Cover Letter</a></td>
			</tr>

		{% endfor %}


	</body>
	




</table>












{% endblock %}