{% extends 'employertemplates/employerbase.html' %}
{% load static %}

{% block content %}

<h2>Do you want to register...??</h2>
<form method="POST" enctype='multipart/form-data'>

	{% csrf_token %}
	{{form.as_p}}
	<button>Register</button>
</form>








{% endblock%}