{% extends 'employertemplates/employerbase.html' %}
{% load static %}

{% block content %}

	<h4>Name:{{employer.name}}</h4><br>
	<h4>Address:{{employer.address}}</h4><br>
	<h4>Mobile:{{employer.mobile}}</h4><br>
	<h4>Email:{{employer.email}}</h4><br>
	<h3>Job Posted by {{employer.company}} Company</h3>

	<table class="table">
		<thead>
			<tr>
				<th>S.N</th>			
				<th>Job Title</th>			
				<th>Deadline</th>			
				<th>Posted on</th>			
			</tr>
		</thead>
		<!-- reverse query relation employer ko object sanga dot .job(model name in small letter).all -->


		<tbody>
			{% for job in employer.job_set.all %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td><a href="{% url 'jobapp:employerjobdetail' job.pk %}">{{job.title}}({{job.jobapplication_set.count}} applications)</a></td> 
					<td>{{job.deadline}}</td>
					<td>{{job.created_at}}</td>

				</tr>
			{% endfor %}


			
		</tbody>
			
		
	</table>



{% endblock %}