{% extends 'employertemplates/employerbase.html' %}
{% load static %}


{% block content %}
<h1>This is employer home page......</h1>
<a href="{% url 'jobapp:employerprofile' %}">My Profile</a>
<a href="{% url 'jobapp:employerjobcreate' %}">Post A New Job</a>











{% endblock %}