{% extends 'employertemplates/employerbase.html' %}
{% load static %}

{% block content %}

<form method="POST" enctype="multipart/form-data">

	{% csrf_token %}
	{{form.as_p}}
	<button>Submit Job</button>

</form>









{% endblock %}