	{% extends 'jobseekertemplates/jobseekerbase.html' %}
	

	{% block content %}

		<div class="row">


					<div class="col-md-4">

							<p><h2><b>Job Title:-{{jobdetail.title}}</b></h2></p>
							<img src="{{jobdetail.image.url}}"   height='300' width="300">
							<h5>Location:{{jobdetail.job_location}}</h5>
							<p class="font-italic"><h5>Salary:Rs-</h5> <b>{{jobdetail.salary}}</b></p>


					</div>


		</div>

		<a href="{% url 'jobapp:jobseekerjobapply' jobdetail.id %}"><button>Apply</button></a>  <!-- #id is used for the specific job passed with contextobj name  -->

		
	{% endblock %}