	{% extends 'jobseekertemplates/jobseekerbase.html' %}

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">


	{% block content %}

	<h1>Here are the list of jobs...</h1>

		<div class="row">

					{% for job in joblist %}

					<div class="col-md-4">

							<p> <h4><b>Job Title-<a href="{% url 'jobapp:jobdetail' job.id %}">{{job.title}}</b></h4></a></p>
							<img src="{{job.image.url}}"   height='300' width="300">


					</div>

					{% endfor %}

		</div>

		
			


 





	{% endblock %}