{% extends 'jobseekertemplates/jobseekerbase.html' %}

{% load static %}


{% block content %}



<h1>Job Application Form</h1>

<form method="POST" enctype="multipart/form-data" >   <!-- #enctype for upload the file and accepted the file by this form --><!--  post method needs csrf token -->
	{% csrf_token %}
	{{ form.as_p}}
	<button>Apply</button>
</form>


{% endblock %}