{% extends "jobseekertemplates/jobseekerbase.html" %}
{% load static %}
{% block content %}
<br>
<style type="text/css">
	.login{
			text-align: center;

	}
	

</style>

{% if error %}
	<li class="text-danger">{{error}}</li>
{% endif %}	
 <form method = "POST">
 	{% csrf_token %}
	 <div class="login">
	    <h1>Login</h1>	
	 	{{ form.as_p }}
	 	<button>Login</button>
	 </div>	

 </form>

<h4>Sign Up Here As:</h4>
<a href="{% url 'jobapp:jobseekerregistration' %}">JobSeeker</a><hr>
<a href="{% url 'jobapp:employerregistration' %}">Employer</a>



{% endblock %}