{% extends 'jobseekertemplates/jobseekerbase.html' %}
{% load static %}

{% block content %}
<h1>My profile</h1>
<h4>Name:{{jobseeker.name}}</h4><br>
<h4>Address:{{jobseeker.address}}</h4><br>
<h4>Mobile:{{jobseeker.mobile}}</h4><br>

<h2>Jobs I have Applied</h2>
<table class="table">
	<thead>
		<tr>
			<th>S.N</th>
			<th>Job Title</th>
			<th>Company</th>
			<th>Date</th>
		</tr>		
	</thead>





	<tbody>
		{% for jobappl in jobseeker.jobapplication_set.all %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{jobappl.job.title}}</td>
			<td>{{jobappl.job.employer.company}}</td>
			<td>{{jobappl.created_at}}</td>
		</tr>
		{% endfor %}

	</tbody>


</table>














{% endblock %}