{% extends 'jobseekertemplates/jobseekerbase.html' %}

{% load static %}



{% block content %}

<div class="row">
	{% for jobitem in joblist %}

	<div class="col-md-3">
		
	
		<h3>{{jobitem.employer}}</h3>
		<div class="card" style="width: 18rem;">
		  <img class="card-img-top" src="..." alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title"><h3>{{jobitem.title}}</h3></h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="{% url 'jobapp:jobdetail' jobitem.id%}" class="btn btn-primary">Job Description</a>
		  </div>
		</div>	
	</div>
	{% endfor %}
	
</div>







{% endblock %}