{% load static %}
<!DOCTYPE html>
<html>
<head>	
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title></title>
</head>
<body>



  <!-- #to show the logged in user -->  <!-- and  -->  <!-- logged in user ko name chai jobseeker hunuparyo  means loggedin ko group check gareko-->



  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">JobApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'jobapp:jobseekerhome' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'jobapp:joblist' %}">JobList</a>
      </li>
        {% if request.user.is_authenticated  and request.user.groups.first.name == 'jobseeker' %}

          <h3>Logged in as:{{request.user}}</h3>
          <li  class="nav-item">
            
            <a  class="nav-link" href="{% url 'jobapp:jobseekerprofile' %}">My profile</a>
          </li>

        {% else %}
        <li class="nav-item active">
              <a class="nav-link" href="{% url 'jobapp:login' %}">Login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'jobapp:jobseekerregistration' %}">Register</a>
            </li>

        {% endif %}
    </ul>
  </div>
</nav>

  	 <!-- <a href="{% url 'jobapp:jobseekerregistration' %}">Register</a> -->
  	<!-- <a href="{% url 'jobapp:joblist' %}">JobList</a> -->




  
{% block content %}


{% endblock %}



</body>
</html>